
body{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
}

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(34, 33, 36, 0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.8s ease;
    cursor: pointer;
    margin: 30px;
}

.card:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px gray;
}

.card-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img-1{
    background: url("images/tree.jpg");
    background-size: cover;
}
.img-2{
    background: url("images/pic-2.jpg");
    background-size: cover;
}
.img-3{
    background: url("images/pic-3.jpg");
    background-size: cover;
}

.card-text{
    grid-area: text;
    margin: 20px;
}
.card-text .date{
    color: red;
    font-size: 15px;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}
.card-text p{
    color: gray;
    font-size: 15px;
    font-weight: 300;
}
.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: rgba(255, 7, 110);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.card .stat .type{
    font-size: 12px;
    font-weight: 300px;
    text-transform: uppercase;
}
.card .stat .value{
    font-size: 20px;
    font-weight: 400;
}